@media only screen and (max-width:1200px){
    .flex-container{
       margin: 0 auto;


    }
}

@media only screen and (max-width:767px){
    .flex-container{
        width:100%;
        height: 600px;
        margin:0px;
        flex-wrap: nowrap;
        flex-direction: column;

    }
    .section1, .section2, .section3, .section4, .section5{
        width: 100%;
      height: 120px;
    }


}
